.filter-wrapper {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 10px;
  margin: 0;
  align-items: center;
}
.filter-icon {
  border: 1px solid #E6E6E6;
border-radius: 8px;
padding: 5px 10px;
height: 40px;
display: flex;
align-items: center;
cursor: pointer;
}